<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5VP16RvMtLWgUjlDLJjsNMZt7Hkv0LOA</string>
	<key>GCM_SENDER_ID</key>
	<string>867878938029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insaat.maliyet.insaatMaliyetAnaliz</string>
	<key>PROJECT_ID</key>
	<string>insaat-maliyet-ff3da</string>
	<key>STORAGE_BUCKET</key>
	<string>insaat-maliyet-ff3da.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867878938029:ios:8a4f8f4534c2d0bf03ad24</string>
</dict>
</plist>